@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bellefair&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
body{
    background-color: #D6E8DB;
    font-family: 'Barlow', sans-serif;
}
/* dark mode body bg black */
.dark{
    background-color: #030405;
}
.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 40px;
    color: #07e8ac;
}
.swiper-pagination-progessbar, 
.swiper-pagination-progressbar-fill {
    background: #f01b9b !important;
}
/* Remove scrollbar */
html::-webkit-scrollbar {
    display: none;
}
html{
    scrollbar-width: none;
}
